{% style %}
  .c-heading01 {
    text-align: {{ section.settings.text_align }};
  }
{% endstyle %}

<style>
  .c-heading01 {
    font-size: 32px;
  }
  @media screen and (min-width: 750px) {
    .c-heading01 {
      font-size: 48px;
    }
  }
</style>

{% if section.settings.text != blank %}
  <h2 class="c-heading01">
    {{ section.settings.text }}
    </h2>
{% endif %}
